

<div class="card">
    <div class="card-container">
        <div class="field">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Username</label>
            </span>
        </div>
        <br>
        <div class="field">
            <span class="p-float-label">
                <input id="float-input" type="password" pInputText> 
                <label for="float-input">Password</label>
            </span>
        </div>
        <button pButton type="button" label="Login" ></button>
    </div>
    
</div>




